boto3==1.4.4
botocore==1.5.95
docutils==0.14
futures==3.1.1
jmespath==0.9.3
python-dateutil==2.6.1
python-slugify==1.2.4
redash-client==0.1.9
requests==2.12.1
s3transfer==0.1.11
six==1.11.0
Unidecode==0.4.21
